@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    list-style: none;
    color: #000;
}

.list{
    margin-left: 900px;
}

.signBtn{
    margin-left: 50px;
}

.signBtn button{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 0px;
    border-radius: 20px;
}

.signBtn button:hover{
    padding: 10px 20px;
    background-color: darkblue;
    color: #fff;
    transition: all .4s ease-in;
    border: 0px;
    border-radius: 20px;
}

.img{
    width: 600px;
    height: 500px;
    border-radius: 50px;
}

.api{
    color: #000;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.grid-container{
    margin-left: 40px;
}

h1{
  font-size: 20px;
  width: 400px;
}


.jobs-container{
    width: 500px;
    height: 500px;
    color: #000;
}

.imgs{
    width: 200px;
    height: 100px;
}

.jobs .name{
  font-size: 40px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

#jobs{
    width: 400px;
    height: 400px;
}


#jobs ul li{
    list-style-type: none;
}

.buttons{
    background-color: black;
    color: #fff;
    cursor: pointer;
}




  